<div
  class="modal modal-dialog-centered"
  id="exampleModal"
  tabindex="-1"
  (click)="onClose()"
>
  <div [class]="'modal-dialog ' + modalSize" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" *ngIf="footer">
        <button
          *ngIf="btnCancel"
          type="button"
          class="btn btn-secondary"
          (click)="onClose()"
        >
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="onBtnClick()">
          {{ btnTitle }}
        </button>
      </div>
    </div>
  </div>
</div>
